* {
  margin: 0;
  padding: 0;
  

  }
html, body {
  background: linear-gradient(#03042a, #1c2f49);
  }
body {    
  min-height: 500vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -27px;
  }
#seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 407px 90px 407px;
  margin-top: 130px;
}
#seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#03042a, #16273f);
  gap: 25px;
  padding: 120px;
  margin-top: 60px;
  
}
  /* Barra superior */  
  .contenedor-barra {
    position: static; 
    margin-left: -60%;
    padding-top: 17px;
  }
  .navegacion {
    position: relative;
    display: flex;   
    font-family: 'Segoe UI', sans-serif;
   
  }
  .navegacion li {
    list-style: none;
    position: relative;
  }
  .navegacion li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    transition: 0.3s;
    z-index: 2;
  }
  .navegacion li.active a {
    color: #54dfa2;
  }
  .navegacion li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 3px;
    background: #54dfa2;
    transition: 0.3s;
  }
  .navegacion li:hover a::before {
    width: 80%;
  }
  .navegacion li.active a::before {
    width: 0;
  }

 
/* hola soy jeff*/
h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  font-family: "Anton", sans-serif;
  font-style: normal;
  margin-bottom: -10px;

}
h2 {  
  color: #5ffdb6;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 20px;
 }

/*foto de perfil*/
:root {
  --primary: #03042a;
  --secondary: #5ffdb6;
  --size: 90px
}
.foto-container {
  position: relative;   
  cursor: pointer;
  animation: float 4s ease-in-out infinite;
  width: 170px;   
  height: 170px;  
  margin-top: 20px;
}
.foto-perfil {
  width: var(--size); height: var(--size);
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #348864;
  transition: all 0.3s ease;
  width: 170px;   
  height: 170px; 
}
.foto-container::before {
  content: '';
  position: absolute;
  inset: -5px;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  border-radius: 50%;
  z-index: -1;
  animation: rotate 4s linear infinite;
  fill: blur(20px);
  opacity: 0.7;
}
.cuadro-indicador {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(27, 28, 73, 0.493);
  border: 2px solid #fff;
  border-radius: 100%;
  right: 10px;
  animation: pulse 2s infinite;
  margin-top: -4px;
}
.foto-container:hover .foto-perfil {
  transform: scale(1.05);
  box-shadow: 0 0 50px #54dfa2;
}
.foto-container:hover::before {
  opacity: 0.5;
  filter: blur(25px);
}
.foto-container:hover .cuadro-indicador {
  background-color: #54dfa2;
  animation: none;
}
@keyframes float {
  0%, 100% { transform: translateY(0);}
  50% {transform: translateY(-10px);}
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes pulse {
  0%, 100% { transform: scale(1);}
  50% {transform: translateY(-10px);}
}

/* Presentacion */

#presentacion {
  display: flex;
  flex-direction: column;
  gap: 40px;
  

}
.parrafo1{
  display: flex;
  font-family: "Zain";
  font-weight: 200;
  font-style: normal;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 0px 300px;
  font-size: 35px;
  line-height: 25px;
 }

 h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #5ffdb6;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 70px;
  margin-bottom: -25px;
  margin-top: 150px;
  
 }

/* Boton */

.button {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  color: #fff;
  border: 1px #c3c6ce solid;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover::before {
  transform: scaleX(1);
  

}

.button-content {
  position: relative;
  z-index: 1; 

}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #55e6a5,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* MY SKILLS*/
.my-skills { 
  color: #5ffdb6;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 0.8;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 40px;
}
.card {
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.25rem; 
  font-size: 0.875rem;   
   
  
}

.list1 {
  display: flex ;
  gap: 16px;
  margin-bottom: 25px;
  gap: 25px;
}

.list2 {
  display: flex;
  gap: 25px;
}

.matri {
  display: flex;
}

/* CARDS */

/* Card1 */
.card1 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 
}

/*Hover*/
.card1:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card1:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
 cursor: pointer;
 font-size: 12px;
}

/* Card2 */
.card2 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card2:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card2:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
 cursor: pointer;
 font-size: 12px;
}

/* Card3 */
.card3 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card3:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card3:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card4 */
.card4 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card4:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card4:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card5 */
.card5 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card5:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card5:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card6 */
.card6 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card6:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card6:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card7 */
.card7 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

/*Hover*/
.card7:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card7:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card8 */
.card8 {
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #55e6a5;
 color: #ffffff;
 font-size: 1rem;
 font-weight: bold;
 font-family: 'Segoe UI', sans-serif;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

/*Hover*/
.card8:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card8:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
  cursor: pointer;
 font-size: 12px;
}

/* Card 9 */
.card9 {
 width: 265px;
 height: 265px;
 border-radius: 20px;
 background: #3d3a4e;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 margin-left: 25px;
 
}

.text-title {
  font-size: 80px;
  font-family: "Luckiest Guy", cursive;
  margin-top: -28px;
  text-align: center;
}
.text-body {
  font-size: 28px;
  line-height: 40px;
  margin-top: -17px;
  color: white;
}
.card-details {
  text-align: center;

}
.button2 {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  color: #fff;
  border: 1px #c3c6ce solid;
  cursor: pointer;
  margin-top: 15px;
  
  

}

.button2:hover::before {
  transform: scaleX(1);
}

.button-content2 {
  position: relative;
  z-index: 1;
}

.button2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #55e6a5,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* 4 */ 

.text-title {
  font-size: 60px;
  font-family: "Luckiest Guy", cursive;
  margin-top: -28px;
  color: white
}

.contenedor-hijo {
  display: flex;
  gap: 25px;
}
.contenedor-tio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 300px;
}
.contenedor-tio1 {
  display: flex;
  justify-content: center;
  align-items: center;

}
.contenedor-tio2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* cuadro 1 */
.cuadro1 {

 width: 315px;
 height: 480px;
 position: relative;
 padding: 1.8rem;
 transition: 0.5s ease-out;
 overflow: visible;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}

h4 {
  text-align: center;
  color: #5ffdb6;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 45px
}

.button3 {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  color: #fff;
  border: 1px #c3c6ce solid;
  cursor: pointer;
  margin-top: 30px;
  

}

.button3:hover::before {
  transform: scaleX(1);
}

.button-content3 {
  position: relative;
  z-index: 1;
}

.button3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #55e6a5,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}


/*cuadro 2 */

#fondo1 {
  background-image: url(img/web1.png);
  
  
}

.cuadro2 {
  width: 280px;
  height: 480px;   
  border-radius: 20px;
  background: #3d3a4e;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;

}

/*cuadro 3 */

#fondo2 {
  background-image: url(img/web2.png); 
  
}

.cuadro3 {
  width: 230px;
  height: 480px;
  border-radius: 20px;
  background: #3d3a4e;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;

}

/*cuadro 4 */

#fondo3 {
  background-image: url(img/web3.png);
  
}

.cuadro4 {
  width: 180px;
  height: 480px;
  border-radius: 20px;
  background: #3d3a4e;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible; 

}


ul {
  list-style: none;
}

#redes-sociales {
display: flex;
position: fixed;
top: 50%;
left: 97%;
transform: translate(-50%, -50%);
list-style: none;
padding: 0;
margin: 0;
}


.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 0.5rem;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 100%;
  right: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #2e2e2e;
  background-color: #5ffdb6;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}


/* Hover rpoyectos */
.contenedor-tio2:hover {
 border-color: #55e6a5;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 cursor: pointer;
}

/* CONTACTO */
.container {
  background-color: #fff;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 1035px;
  font-family: "Zain";
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 300px;

}

.contacto-info {
  background-color: #288058;
  color: #fff;
  padding: 30px;
  width: 40%;
  font-weight: 300;
}

.contacto-info h2 {
  margin-top: 0;
}

.contacto-info p {
  margin: 15px 0;
  line-height: 1.4;
}

.contacto-info img {
  vertical-align: middle;
  margin-right: 10px;
}

.contacto-form {
  padding: 30px;
  width: 60%;
}

.contacto-form h2 {
  margin-top: 0;
  color: #34495e;
}

.contacto-form p {
  margin: 10px 0 20px;
  color: #555;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contacto-form button {
  background-color: #288058;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold  
}

.contacto-form button:hover {
  background-color: #3dad7d;
  font-weight: bold
}

.get-in-touch {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  
}

.contact-us {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.feel-free {
  font-family: "Zain";
  font-weight: 700;
}